.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #F5E8C7;
    /* Light Beige */
    color: #363062;
    /* Dark Purple */
}

h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    background: #363062;
    /* Dark Purple */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

@media (max-width: 800px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: #363062;
        position: absolute;
        top: 80px;
        /* Moved the menu lower to avoid overlapping the name */
        left: 0;
        width: 100%;
        padding: 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    header {
        font-size: 1rem;
    }
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #818FB4;
    /* Soft Blue on hover */
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Project */

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background: #435585;
    /* Steel Blue */
    color: white;
    /* White text inside project */
    padding: 15px;
    border-radius: 8px;
    flex: 1;
    min-width: 250px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(67, 85, 133, 0.2);
}

/* Change links inside project cards to white */
.project a {
    color: white;
    text-decoration: none;
}

.project a:hover {
    color: #ffffff;
    /* Ensures the link stays white on hover */
}

/* Certificate */

#certifications>ul {
    list-style-type: none;
    padding-left: 1rem;
    margin-left: 1rem;
}

#certifications>ul>li {
    margin-bottom: 10px;
}

/* Profile */

.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.profile-grid a {
    display: block;
    text-align: center;
}

.profile-grid img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.profile-grid img:hover {
    transform: scale(1.1);
}

/* Contact */
#contact>p {
    padding-left: 1rem;
    margin-left: 1rem;
}